<div class="row">
    <div class="col secure">
        <div class="col-4 offset-4 mt-1 mb-5">
            <img src="https://www.syntra-limburg.be/themes/custom/sassy/assets/images/syntra/logo.svg" class="img-fluid"
                alt="logo" width="150px">
        </div>
        <h1 class="main">
            <img class="profilepic" [src]="profile" width="100px"> 
            Welcome {{username}}! 
        </h1>
        
        <div class="mb-3">
            <p class="btn btn-dark" (click)="quote()">Random quote</p>
            <a href="" class="register" (click)="logout()">Logout</a>
            
            <label for="exampleInputEmail1" class="form-label">add message and press enter</label>
            <input type="text" class="form-control keyup" [(ngModel)]="newChat" (keyup.enter)="addChat()">
           
        
            <div class="chatsframe">
                <p class="chat" *ngFor="let _message of _messages">
                    <span class="chatname">
                        <img [src]="_message.profile ? _message.profile : 'assets/219988.png'" width="20px" class="img-fluid" alt="profile">
                        {{_message.name}}</span>
                    <span class="chatmessage">
                        <button *ngIf="userId == 25 || userId == _message.userId" (click)='deleteChat(_message.id)' class="btn btn-danger btn-sm"> x </button>
                        <button *ngIf="userId == 25 || (userId != _message.userId)" (click)='likeChat(_message.id)' class="btn btn-primary btn-sm" [ngClass]="{'btn-secondary': _message.likes_count == 0}">
                            <ng-container *ngIf="_message.likes_count > 0">
                              likes {{_message.likes_count}}
                              <span class='popular' *ngIf="_message.likes_count > 5"> popular</span>
                            </ng-container>
                            <ng-container *ngIf="_message.likes_count == 0">
                                like
                              </ng-container>
                          </button>

                        {{_message.content}}
                    </span>
                </p>


            </div>
        </div>
    </div>