<div class="row">
    <div class="col secure">
        <div class="col-4 offset-4 mt-1 mb-5">
            <img src="https://www.syntra-limburg.be/themes/custom/sassy/assets/images/syntra/logo.svg" class="img-fluid"
                alt="logo" width="150px">
        </div>
        <h1 class="main">welcome</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">add message and press enter</label>
            <input type="text" class="form-control" [(ngModel)]="newMessage" (keyup.enter)="addMessage()">

        
           

            <a class="register" (click)="logout()">Logout</a>


            <div class="chatsframe">
                <p class="chat" *ngFor="let _message of _messages">
                    <span class="chatname">{{_message.name}}</span>
                    <span class="chatmessage">{{_message.content}} </span>
                </p>


            </div>
        </div>
    </div>